body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    background-image: url("grayBackground.jpg");
    background-repeat: repeat-y;
    margin: auto;
    
}
.container{
    margin: auto;
    width: 960px;
    padding: 74px;

}
.section {
        display: block;
        background:transparent;
}
#topBar{
    background-color: #ffffff;
    width: auto;
    height: 70px;
}

.spacer {
    background-color:white;
    height: 61px;
     width: 21%;
    float: left;
    font-size: 55px;
    padding-top: 10px;
}

.nameBanner {
    background-color: #4aaaa5;
    height: 61px;
    width: 23%;
    float: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 46px;
    padding-top: 10px;
}
.topnav {
    background-color: transparent;
    padding-top: 26px;
    height: 21px;
    width: 34%;
    float: right;
    text-align: right;
    font-size: 21px;
    text-decoration: none;
    color: #666666;
}

.aboutMeContainer{
    background: white;
    opacity: 100%;
    bottom: 0;

}
img{
    padding:10px ;
    float: left;
}
.whiteBox{
    background-color: white;
    margin: auto;
    padding: 18px;
    color: gray;

}
.aboutMeTitle {
    background-color: transparent;
    border-bottom: 2px solid gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    height: 50px;
    width: 95%;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 35px;
    color: #4aaaa5;
}
footer{
    background-color: #4aaaa5;
    position: absolute;
    height: 50px;
    border-top: 5px solid gray;
    bottom: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
}
.topnav a {
    float: left;
    color: #666666;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 17px;
} 

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
